<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Allergies Filter App
        {% endblock %}
    </title>
    <link rel="icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">
    <script src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
                <span class="brand"><a href="{% url 'home' %}">Allergies Filter App</a></span>
                <ul class="nav-links">
                    <li><a href="{% url 'home' %}">Home 🏡</a></li>
                    <li><a href="{% url 'product' %}">Product Input 📚</a></li>
                    <li><a href="{% url 'allergies:list' %}">Allergies List 🚨</a></li>
                    <li><a href="{% url 'user:list' %}">Users 👤</a></li>
                </ul>
        </div>
    </nav>
    {% if messages %}
    <section aria-label="Notifications" class="messages-container">
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
